$main-action-color: rgb(194, 189, 41);
$main-color: rgba(25, 30, 178);
$secondary-color: rgb(95, 153, 252);
$suppress-color: #381333;

$primary-text-color: #381333;
$secondary-text-color: whitesmoke;
$hint-text-color: #381333;